<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Register
        </div>
        <div class="card-body">
          <form (submit)="register()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" placeholder="Enter username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" placeholder="Password" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.role" placeholder="Role" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
          </form>
        </div>
        <div class="card-footer text-center bg-light">
          <p class="mb-0">Already have an account?</p>
          <a class="btn btn-link" routerLink="/login" routerLinkActive="active"aria-current="page">Login here</a>
        </div>
      </div>
    </div>
  </div>
</div>
