<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Login
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username" placeholder="Enter username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>
        <div class="card-footer text-center bg-light">
          <p class="mb-0">Don't have an account?</p>
          <a class="btn btn-link" routerLink="/register" routerLinkActive="active">Register here</a>
        </div>
      </div>
    </div>
  </div>
</div>
